[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
torch = "*"
torchvision = "*"
jupyter = "*"
jupyterlab = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
scikit-image = "*"
mkdocs = "*"
pygments = "*"
pymdown-extensions = "*"
mkdocs-material = "*"
mkdocs-pdf-export-plugin = "*"

[requires]
python_version = "3.6"
